body div { 
    border:2px solid;
    border-color:orange; 
    width: 200px;
    height: 230px; 
    padding: 10px;
    margin: 10px 10px 10px 10px;
    display: block;

 }
 h1{
   font-size: 17px;
  }